.conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


button {
  width: 100%;
  padding: 12px 18px;
  margin-bottom: 20px;
  background: #11131a;
  color: #00d5ff;
  border: 1px solid #00d5ff;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #00d5ff;
  color: #0a0a0f;
  box-shadow: 0 0 12px #00d5ff;
}

.backButton {
  display: inline-block;
  width: auto;
  padding: 10px 18px;
  margin-bottom: 20px;

  background: #0d0f15;
  color: #00e5ff;
  border: 1px solid rgba(0, 229, 255, 0.6);

  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;

  transition: 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 229, 255, 0.15);
}

.backButton:hover {
  background: #00e5ff;
  color: #0b0b11;
  box-shadow: 0 0 20px rgba(0, 229, 255, 0.45);
  transform: translateX(-3px);
}



