.btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    width: 300px;
    margin: 20px auto;
}

.info {
      text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  color: #8ef9f3;
  text-shadow: 0 0 8px #00f0ff;
}

.btn {
    aspect-ratio: 1;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #333;
    background: #fff;
    transition: all 0.3s ease;
}

.btn:hover:not(:disabled) {
    background: #f0f0f0;
}

.btn:disabled {
    cursor: not-allowed;
    opacity: 0.8;
}

.btn-X {
    color: #ff4757;
}

.btn-O {
    color: #2ed573;
}