ul {
  padding: 0;
  margin: 0;
}
.app {
  margin: 40px auto;
  padding: 20px;
  background: rgba(20, 20, 30, 0.6);
  border: 1px solid rgba(0, 255, 255, 0.1);
  border-radius: 14px;
  box-shadow: 0 0 30px rgba(0,255,255,0.1);
}

.title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  color: #8ef9f3;
  text-shadow: 0 0 8px #00f0ff;
}

/* Кнопка "Добавить дело" */
.addButton {
  width: 100%;
  padding: 12px 18px;
  margin-bottom: 20px;
  background: #11131a;
  color: #00d5ff;
  border: 1px solid #00d5ff;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.addButton:hover {
  background: #00d5ff;
  color: #0a0a0f;
  box-shadow: 0 0 12px #00d5ff;
}

/* Список */

.list {
  background: #11131a;
  border: 5px solid rgba(0,255,255,0.15);
  margin-bottom: 14px;
  padding: 14px 12px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.text {
    display: flex;
    flex-basis: 70%;
  font-size: 18px;
  color: #00d5ff;
  
}

/* Лоадер */
.loader {
  text-align: center;
  color: #00e0ff;
  font-size: 18px;
}

/*сортировка*/

.btns-sort-add {
  display: flex;
  flex-direction: row;
}

 .sortButton {
    width: 100%;
    padding: 12px 18px;
    margin-bottom: 20px;
    background: #11131a;
    color: #00d5ff;
    border: 1px solid #00d5ff;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .sortButton:hover {
    background-color: #00d5ff;
    color: #0a0a0f;
  }
  
  .sortButton:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
  }

  .btns {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }



  @media(max-width: 600px) {
    .btns-sort-add {
      flex-direction: column;
      gap: 5px;
    }

    .list {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }

    .text {
      display: flex;
      flex-basis: 40%;
      font-size: 14px;
      max-width: 100%;
    }

    .scroll {
      padding: 0;
    }
    
  }

