.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #05050ab3;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: rgba(20, 20, 30, 0.9);
  padding: 30px;
  border: 1px solid rgba(0,255,255,0.2);
  border-radius: 12px;
  width: 600px;
  height: 250px;
  box-shadow: 0 0 30px rgba(0,255,255,0.15);
}

.formGroup {
  margin-bottom: 15px;
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 6px;
  color: #7afaff;
  font-weight: bold;
  font-size: 35px;
}

.input {
  width: 100%;
  height: 80%;
  padding: 10px;
  background: #0f0f18;
  border: 1px solid rgba(0,255,255,0.3);
  border-radius: 6px;
  color: #dff;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  border-color: #00ffff;
  box-shadow: 0 0 7px #00ffff;
}

.btns {
      display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
}

.button {
  flex: 1;
  padding: 10px 15px;
  background: #12141c;
  border: 1px solid #00f0ff;
  border-radius: 6px;
  cursor: pointer;
  color: #00f0ff;
}

.button:hover {
  background: #00f0ff;
  color: #12141c;
  box-shadow: 0 0 10px #00f0ff;
}

.search {
  width: 100%;
  height: 80px;
  background-color: black;
  color: #00f0ff;
  border-radius: 6px;
  font-size: 30px;
  margin-bottom: 20px;
}

.search::placeholder {
  color: #00f0ff;
  font-size: 30px;
}

.search:focus {
  border: 5px solid #00f0ff;;
}